/node_modules/

# Environment files
.env

# Logs
*.log
npm-debug.log*

# Dependency directories
bower_components/

# OS-specific files
.DS_Store
Thumbs.db

.vscode/
.idea/

# Temporary files
*.swp
*.swo
*.tmp
.vercel
